.page-top-bar {
  width: 100%;
  height: 47px;
  line-height: 47px;
  background: #fafafa;
}

.ptb-title {
  color: #9b9b9b;
  font-size: 14px;
  margin-left: 70px;
}

.ptb-icon {
  margin-right: 10px;
}

@media (max-width: 920px) {
  .ptb-title {
    margin-left: 20px;
  } 
}